In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
otu_df = pd.read_csv('dataframes/OTU.csv', sep='\t', index_col='OTU')
taxonomy_df = pd.read_csv('dataframes/hiera_BLAST.csv', sep='\t', index_col='OTU')
metadata_df = pd.read_csv('dataframes/YOGURT-MAP.csv', sep='\t', index_col='#SampleID')
path_df = pd.read_csv('dataframes/path_df.csv', sep = ',')
metadata_df = metadata_df.drop(columns=['fastqFile', 'Weight'])

In [2]:
otu_df_meta = otu_df.transpose()
merged = otu_df_meta.merge(metadata_df, left_index=True, right_index=True)
merged = merged.reindex(['Group'] + list(merged.columns[:-1]), axis=1)
merged.head()

,Group,OTU1,OTU2,OTU3,OTU4,OTU5,OTU6,OTU7,OTU8,OTU9,...,OTU1505,OTU1506,OTU1507,OTU1508,OTU1509,OTU1510,OTU1511,OTU1512,OTU1513,OTU1514
AA1,w4_con,1475,7122,5508,7923,2604,1791,1286,2931,660,...,0,0,0,0,0,0,1,0,0,0
AA10,w4_con,4326,3346,10053,10217,630,1024,465,704,106,...,0,0,0,0,0,0,0,0,1,0
AA2,w4_con,1604,3526,6370,12738,927,1329,967,810,268,...,1,0,0,0,1,0,1,0,0,0
AA3,w4_con,1473,19461,8274,8691,1051,2521,368,1930,228,...,0,0,0,0,0,0,0,0,0,0
AA4,w4_con,1776,4970,2659,9848,2568,2572,453,5418,96,...,0,3,0,0,0,0,0,0,0,1

In [3]:
merged_cmy = merged[~merged['Group'].isin(['w1_con', 'w4_con', 'w1_sch', 'w4_sch'])]
merged_cmy.loc[merged_cmy['Group'] == 'w1_pry', 'Group'] = 'CN'
merged_cmy.loc[merged_cmy['Group'] == 'w4_pry', 'Group'] = 'CMY'
#merged_cmy = merged_cmy.drop(['AB10','BA10'])
#merged_cmy_absolute = merged.copy()
#merged_cmy_absolute.to_excel('dataframes/output_data/16.07/taxonomy/initail_data_tax.xlsx')
#merged_cmy_absolute.to_csv('dataframes/output_data/16.07/taxonomy/initail_data_tax.csv', sep='\t', index=True)
merged_cmy.head()

,Group,OTU1,OTU2,OTU3,OTU4,OTU5,OTU6,OTU7,OTU8,OTU9,...,OTU1505,OTU1506,OTU1507,OTU1508,OTU1509,OTU1510,OTU1511,OTU1512,OTU1513,OTU1514
AC1,CMY,8458,9217,1500,3700,501,3294,1147,6218,815,...,0,0,0,0,0,0,0,0,0,0
AC2,CMY,10760,4012,6097,1256,907,3012,1318,2583,449,...,0,0,0,0,0,0,0,0,0,0
AC3,CMY,11003,5941,2061,2797,517,2221,691,6976,576,...,1,0,0,0,0,0,0,0,0,0
AC4,CMY,2702,1870,2221,1912,569,1831,464,701,1846,...,0,0,0,0,0,0,0,0,0,0
AC5,CMY,9863,16672,2195,1720,419,2939,466,5098,296,...,0,0,0,0,1,0,0,0,0,0

In [4]:
merged_cmс = merged[~merged['Group'].isin(['w1_con', 'w4_con', 'w1_pry', 'w4_pry'])]
merged_cmс.loc[merged_cmс['Group'] == 'w1_sch', 'Group'] = 'CN'
merged_cmс.loc[merged_cmс['Group'] == 'w4_sch', 'Group'] = 'CMC'
#merged_cmс = merged_cmс.drop(['AB10','BA10'])
#merged_cmс_absolute = merged.copy()
#merged_cmс_absolute.to_excel('dataframes/output_data/16.07/taxonomy/initail_data_tax.xlsx')
#merged_cmс_absolute.to_csv('dataframes/output_data/16.07/taxonomy/initail_data_tax.csv', sep='\t', index=True)
merged_cmс.head()

,Group,OTU1,OTU2,OTU3,OTU4,OTU5,OTU6,OTU7,OTU8,OTU9,...,OTU1505,OTU1506,OTU1507,OTU1508,OTU1509,OTU1510,OTU1511,OTU1512,OTU1513,OTU1514
BA1,CMC,16175,7738,3505,1960,4025,1896,1285,565,1042,...,0,0,0,0,0,0,0,0,0,0
BA10,CMC,2072,5140,5629,2734,4532,2423,483,410,1708,...,0,1,0,0,0,0,0,1,0,1
BA2,CMC,7646,13008,3393,5050,6448,3521,509,150,2398,...,0,0,0,0,0,0,0,0,0,0
BA3,CMC,4450,1717,2649,1235,7077,5769,7078,415,7637,...,0,0,0,0,0,0,0,0,0,0
BA4,CMC,8499,4369,1880,1957,4682,2437,569,566,3966,...,0,0,0,0,0,0,0,0,0,0

In [5]:
def relative_abundance(df):
    # Создаем копию набора данных для избежания предупреждения
    df_copy = df.copy()
    # Добавляем столбец с общим количеством OTU для каждого образца
    df_copy['OTU_total'] = df_copy.iloc[:, 1:].sum(axis=1)

    # Рассчитываем относительное изобилие
    df_copy.loc[:, df_copy.columns[1:-1]] = df_copy.loc[:, df_copy.columns[1:-1]].div(df_copy['OTU_total'], axis=0)

    # Удаляем столбец OTU_total, так как он нам больше не нужен
    df_copy.drop(columns=['OTU_total'], inplace=True)
    # df_copy = df_copy.applymap(lambda x: str(x).replace('.', ','))
    # df_copy.T.to_excel('dataframes/output_data/16.07/taxonomy/otu_relative_abundance.xlsx')
    return df_copy

merged_cmс_rel_abund = relative_abundance(merged_cmс)
merged_cmy_rel_abund = relative_abundance(merged_cmy)

# Z - scaling
https://www.simplypsychology.org/z-score.html#:~:text=The%20value%20of%20the%20z,standard%20deviation%20above%20the%20mean.

In [6]:
def z_scaling(df):
    group = df['Group']
    data_without_group = df.drop(columns=['Group'])
    data_without_group = data_without_group.loc[:, (data_without_group != data_without_group.iloc[0]).any()] 
    transformed_data = (data_without_group - data_without_group.mean()) / data_without_group.std()
    transformed_data.insert(0, 'Group', group)
    return transformed_data  

z_scaler_cmc = z_scaling(merged_cmс)

In [16]:
merged_cmс

,Group,OTU1,OTU2,OTU3,OTU4,OTU5,OTU6,OTU7,OTU8,OTU9,...,OTU1505,OTU1506,OTU1507,OTU1508,OTU1509,OTU1510,OTU1511,OTU1512,OTU1513,OTU1514
BA1,CMC,16175,7738,3505,1960,4025,1896,1285,565,1042,...,0,0,0,0,0,0,0,0,0,0
BA10,CMC,2072,5140,5629,2734,4532,2423,483,410,1708,...,0,1,0,0,0,0,0,1,0,1
BA2,CMC,7646,13008,3393,5050,6448,3521,509,150,2398,...,0,0,0,0,0,0,0,0,0,0
BA3,CMC,4450,1717,2649,1235,7077,5769,7078,415,7637,...,0,0,0,0,0,0,0,0,0,0
BA4,CMC,8499,4369,1880,1957,4682,2437,569,566,3966,...,0,0,0,0,0,0,0,0,0,0
BA5,CMC,5635,1958,11836,1118,1006,426,273,292,566,...,0,0,0,0,0,0,0,0,1,0
BA6,CMC,3732,2590,3499,22153,5820,3985,1254,512,2162,...,0,0,0,0,0,0,0,0,0,0
BA7,CMC,3421,2467,1998,752,10542,4527,561,509,5327,...,0,0,0,0,0,0,0,1,0,0
BA8,CMC,3484,5588,2113,1720,10563,6272,1602,730,3975,...,1,0,0,0,0,0,0,0,0,0
BA9,CMC,8472,5129,3027,611,4176,4324,937,1762,4000,...,0,0,0,0,0,0,0,0,0,0
BB1,CN,6562,1465,2810,333,662,1820,9593,343,1266,...,0,0,0,0,0,0,0,0,0,0
BB10,CN,12691,3243,4814,447,1308,1742,5786,453,5110,...,0,0,0,1,0,1,0,0,0,0
BB2,CN,5928,3084,1790,1379,815,1750,13412,253,497,...,0,0,0,0,0,0,0,0,0,0
BB3,CN,15147,6024,1535,1560,2788,1273,7525,726,4175,...,0,0,0,0,0,0,0,0,0,0
BB4,CN,3049,2762,4235,722,2636,2706,7300,87,9676,...,0,0,3,0,0,0,0,0,0,0
BB5,CN,6337,13887,6117,1156,2340,2366,1424,345,1445,...,0,0,0,0,0,0,0,0,0,0
BB6,CN,54528,1626,2308,1625,834,432,3188,195,1231,...,0,0,0,0,0,0,0,0,0,0
BB7,CN,17380,10361,4287,2806,2828,1166,1809,1073,1077,...,0,0,0,1,0,0,0,0,0,0
BB8,CN,7201,3547,2990,2708,9694,1972,12376,588,1501,...,0,0,0,0,0,0,0,0,0,0
BB9,CN,2754,2570,7556,197,732,1210,3153,1502,1686,...,0,0,0,0,0,0,0,0,0,0

In [24]:

group_cmc = merged_cmс[merged_cmс['Group'] == 'CMC']
group_cn = merged_cmс[merged_cmс['Group'] == 'CN']

group_cmc = group_cmc.drop(columns=['Group'])
group_cn = group_cn.drop(columns=['Group'])

total_load_cmc = group_cmc.sum(axis=1)
total_load_cn = group_cn.sum(axis=1)

total_load_otu_cmc = group_cmc.sum(axis=0)
total_load_otu_cn = group_cn.sum(axis=0)

total_load_cmc_sorted = total_load_otu_cmc.sort_values(ascending=False)
total_load_cn_sorted = total_load_otu_cn.sort_values(ascending=False)

total_load_cmc_sorted.to_csv("del.csv")
total_load_cn_sorted.to_csv("del_cn.csv")

# Box Cox transformation

https://leanscape.io/the-box-cox-transformation-what-it-is-and-how-to-use-it/#:~:text=What%20is%20the%20Box%20Cox,predictions%20made%20using%20linear%20regression.

In [8]:
from scipy import stats

def box_cox_transformation(df):
    group = df['Group']
    data_without_group = df.drop(columns=['Group'])
    data_without_group = data_without_group.loc[:, (data_without_group != data_without_group.iloc[0]).any()] 
    data_without_group_transformed = data_without_group.apply(lambda x: stats.boxcox(x + 1)[0])
    data_without_group_transformed.insert(0, 'Group', group)
    return data_without_group_transformed

box_cox_cmc = box_cox_transformation(merged_cmс)
box_cox_cmy = box_cox_transformation(merged_cmy)
box_cox_cmy.head(5)

,Group,OTU1,OTU2,OTU3,OTU4,OTU5,OTU6,OTU7,OTU8,OTU9,...,OTU1501,OTU1502,OTU1503,OTU1505,OTU1507,OTU1509,OTU1510,OTU1512,OTU1513,OTU1514
AC1,CMY,10.582079,6.755748,2.684088,39.983186,5.011016,5.243227,8.394447,18.859854,6.157722,...,0.0,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0
AC2,CMY,10.910450,6.302335,2.775353,27.416086,5.381476,5.208219,8.590306,15.592424,5.653049,...,0.0,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0
AC3,CMY,10.941051,6.519610,2.708749,36.301989,5.031028,5.086290,7.691468,19.322347,5.864786,...,0.0,0.0,0.0,0.07301,0.0,0.000000,0.0,0.0,0.0,0.0
AC4,CMY,9.061581,5.862557,2.714173,31.796442,5.091765,5.006747,7.151302,11.508975,6.837947,...,0.0,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0
AC5,CMY,10.791401,7.063208,2.713328,30.637313,4.896397,5.198558,7.157078,18.080907,5.296099,...,0.0,0.0,0.0,0.00000,0.0,0.036481,0.0,0.0,0.0,0.0

In [9]:
box_rel_cmc = relative_abundance(box_cox_cmc)
box_rel_cmc.head(5)

,Group,OTU1,OTU2,OTU3,OTU4,OTU5,OTU6,OTU7,OTU8,OTU9,...,OTU1503,OTU1504,OTU1505,OTU1506,OTU1507,OTU1508,OTU1510,OTU1512,OTU1513,OTU1514
BA1,CMC,0.000282,0.000315,0.000214,0.000513,0.002331,0.004295,0.000783,0.000982,0.000787,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000
BA10,CMC,0.000620,0.000709,0.000486,0.001190,0.005441,0.010695,0.001537,0.002077,0.001915,...,0.000014,0.000009,0.0,0.000009,0.0,0.0,0.0,0.000017,0.0,0.000009
BA2,CMC,0.000307,0.000349,0.000235,0.000599,0.002869,0.005968,0.000751,0.000795,0.000971,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000
BA3,CMC,0.000351,0.000385,0.000270,0.000626,0.003378,0.008270,0.001222,0.001161,0.001288,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000
BA4,CMC,0.000298,0.000332,0.000226,0.000546,0.002577,0.005036,0.000741,0.001046,0.001004,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000

In [10]:
from scipy.stats import ttest_ind

# Разделение DataFrame на две группы
group_cmc = box_rel_cmc[box_rel_cmc['Group'] == 'CMC']
group_cn = box_rel_cmc[box_rel_cmc['Group'] == 'CN']

# Создание пустой DataFrame для хранения результатов
p_values = pd.DataFrame(index=['p-value'], columns=box_rel_cmc.columns[1:])

# Проведите t-тест для каждого столбца и сохраните p-value
for column in box_rel_cmc.columns[1:]:
    t_stat, p_val = ttest_ind(group_cmc[column], group_cn[column], equal_var=False, nan_policy='omit') # t-test Стьюдента
    p_values[column] = p_val

# Транспонирование DataFrame и переименование столбцов
p_values = p_values.transpose().reset_index()
p_values.columns = ['OTU', 'CN_vs_CMC_p_value']

# Рассчет средних значений для каждой группы и добавьте их в DataFrame
p_values['CN'] = group_cn.mean(numeric_only=True).values
p_values['CMC'] = group_cmc.mean(numeric_only=True).values

# Изменение порядка столбцов
p_values = p_values[['OTU', 'CN', 'CMC', 'CN_vs_CMC_p_value']]

p_values

          OTU            CN           CMC  CN_vs_CMC_p_value
0        OTU1  3.466682e-04  4.140016e-04           0.323734
1        OTU2  3.848215e-04  4.624853e-04           0.304494
2        OTU3  2.652186e-04  3.189026e-04           0.315750
3        OTU4  5.912911e-04  7.627242e-04           0.165199
4        OTU5  2.339592e-03  3.525146e-03           0.007320
...       ...           ...           ...                ...
1326  OTU1508  1.757664e-06  0.000000e+00           0.169599
1327  OTU1510  4.015756e-07  0.000000e+00           0.343436
1328  OTU1512  0.000000e+00  2.549003e-06           0.199459
1329  OTU1513  0.000000e+00  1.178954e-06           0.343436
1330  OTU1514  0.000000e+00  8.740995e-07           0.343436

[1331 rows x 4 columns]

In [11]:
import pandas as pd
from scipy.stats import f_oneway, ttest_ind
from statsmodels.stats.multitest import multipletests

# Разделяем датафрейм на две группы
group_cmc = box_rel_cmc[box_rel_cmc['Group'] == 'CMC']
group_cn = box_rel_cmc[box_rel_cmc['Group'] == 'CN']

# Создаем датафрейм для хранения p-values
p_values = pd.DataFrame(index=['p-value'], columns=box_rel_cmc.columns[1:])

# Выполняем ANOVA для каждого столбца
for column in box_rel_cmc.columns[1:]:
    f_stat, p_val = f_oneway(group_cmc[column], group_cn[column]) # ANOVA
    p_values[column] = p_val

# Транспонируем и обнуляем индекс
p_values = p_values.transpose().reset_index()
p_values.columns = ['OTU', 'ANOVA_p_value']

# Применяем FDR к p-values из ANOVA
_, p_values['ANOVA_FDR_p_value'], _, _ = multipletests(p_values['ANOVA_p_value'], method='fdr_bh')

# Выполняем t-тест для каждого столбца
for column in box_rel_cmc.columns[1:]:
    t_stat, p_val = ttest_ind(group_cmc[column], group_cn[column], equal_var=False, nan_policy='omit') # t-тест Стьюдента
    p_values.loc[p_values['OTU'] == column, 't_test_p_value'] = p_val

# Применяем FDR к p-values из t-теста
_, p_values['t_test_FDR_p_value'], _, _ = multipletests(p_values['t_test_p_value'], method='fdr_bh')

# Вычисляем средние значения для каждой группы
group_cn_means = group_cn.mean(numeric_only=True)
group_cmc_means = group_cmc.mean(numeric_only=True)

# Добавляем средние значения в DataFrame
p_values['CN_mean'] = p_values['OTU'].map(group_cn_means)
p_values['CMC_mean'] = p_values['OTU'].map(group_cmc_means)

less_zero_five = p_values.loc[(p_values['t_test_p_value'] <= 0.05)]

less_zero_five

,OTU,ANOVA_p_value,ANOVA_FDR_p_value,t_test_p_value,t_test_FDR_p_value,CN_mean,CMC_mean
4,OTU5,0.006073,0.253035,0.007320,0.314190,0.002340,0.003525
5,OTU6,0.007908,0.292369,0.008541,0.324796,0.004938,0.007254
10,OTU11,0.030681,0.458823,0.032301,0.499910,0.001959,0.002735
21,OTU22,0.001441,0.119850,0.001674,0.150010,0.001826,0.003374
30,OTU31,0.036132,0.471063,0.041872,0.537506,0.000305,0.000438
...,...,...,...,...,...,...,...
902,OTU955,0.031025,0.458823,0.044042,0.558286,0.000021,0.000000
916,OTU973,0.027635,0.448564,0.040140,0.537506,0.000000,0.000008
967,OTU1034,0.015913,0.371394,0.019187,0.409432,0.000024,0.000003
1023,OTU1098,0.028853,0.457179,0.041549,0.537506,0.000013,0.000000
1165,OTU1274,0.034555,0.462430,0.048045,0.561842,0.000010,0.000000

In [12]:
import scipy.stats as stats
import statsmodels.stats.multitest as smt

group_cmc = box_rel_cmc[box_rel_cmc['Group'] == 'CMC']
group_cn = box_rel_cmc[box_rel_cmc['Group'] == 'CN']

# Тест Манна-Уитни
mannwhitney_pvalues = [stats.mannwhitneyu(group_cmc[otu], group_cn[otu], alternative='two-sided')[1] for otu in box_rel_cmc.columns[1:]]

# FDR коррекция
reject, corrected_mannwhitney_pvalues, _, _ = smt.multipletests(mannwhitney_pvalues, method='bonferroni')

# Создание DataFrame для хранения результатов
results = pd.DataFrame({
    'OTU': box_rel_cmc.columns[1:],
    'MannWhitney_pvalue': corrected_mannwhitney_pvalues,
    'Reject_Null': reject
})

# Средние значения для каждой группы
results['CN_mean'] = group_cn.mean(numeric_only=True).values
results['CMC_mean'] = group_cmc.mean(numeric_only=True).values

results.drop(results[results['Reject_Null'] == False].index, inplace=True)

results

Empty DataFrame
Columns: [OTU, MannWhitney_pvalue, Reject_Null, CN_mean, CMC_mean]
Index: []

In [13]:
import scipy.stats as stats
import statsmodels.stats.multitest as smt
import scikit_posthocs as sp

# Тест Kruskal-Wallis
kruskal_pvalues = [stats.kruskal(group_cmc[otu], group_cn[otu], nan_policy='omit')[1] for otu in box_rel_cmc.columns[1:]]

# FDR коррекция
reject, corrected_kruskal_pvalues, _, _ = smt.multipletests(kruskal_pvalues, method='fdr_bh')

# Создание DataFrame для хранения результатов
results = pd.DataFrame({
    'OTU': box_rel_cmc.columns[1:],
    'Kruskal_pvalue': corrected_kruskal_pvalues,
    'Reject_Null': reject
})

# Средние значения для каждой группы
results['CN_mean'] = group_cn.mean(numeric_only=True).values
results['CMC_mean'] = group_cmc.mean(numeric_only=True).values

# Тест Dunn post hoc (для отвергнутых нулевых гипотез)
dunn_results = []
for otu in results[results['Reject_Null']]['OTU']:
    posthoc = sp.posthoc_dunn(box_rel_cmc, val_col=otu, group_col='Group', p_adjust='bonferroni')
    dunn_results.append({
        'OTU': otu,
        'Dunn_pvalue_CMC_vs_CN': posthoc.loc['CMC', 'CN']
    })

# Добавление результатов теста Dunn в итоговый DataFrame
#results = results.merge(pd.DataFrame(dunn_results), on='OTU', how='left')

results.drop(results[results['Reject_Null'] == False].index, inplace=True)

results

Empty DataFrame
Columns: [OTU, Kruskal_pvalue, Reject_Null, CN_mean, CMC_mean]
Index: []

In [14]:
from scipy.stats import shapiro, ttest_ind, mannwhitneyu
from statsmodels.sandbox.stats.multicomp import multipletests

# Данные
data_cmc = box_rel_cmc[box_rel_cmc['Group'] == 'CMC'].iloc[:, 1:]
data_cn = box_rel_cmc[box_rel_cmc['Group'] == 'CN'].iloc[:, 1:]

p_values = []
# Проверяем каждый OTU на нормальность и проводим соответствующий тест
for otu in data_cmc.columns:
    # Проверка на нормальность
    _, p_cmc = shapiro(data_cmc[otu].dropna())
    _, p_cn = shapiro(data_cn[otu].dropna())
    # Если оба распределения нормальны
    if p_cmc > 0.05 and p_cn > 0.05:
        _, p_value = ttest_ind(data_cmc[otu].dropna(), data_cn[otu].dropna())
    # Если хотя бы одно из распределений не нормально
    else:
        _, p_value = mannwhitneyu(data_cmc[otu].dropna(), data_cn[otu].dropna())
    p_values.append(p_value)

# Коррекция Бенджамини-Хохберга
reject, pvals_corrected, _, _ = multipletests(p_values, method='bonferroni')

# DataFrame с результатами
results = pd.DataFrame({'OTU': data_cmc.columns, 'p_value': p_values, 'p_value_corrected': pvals_corrected, 'reject_null': reject})

results.drop(results[results['reject_null'] == False].index, inplace=True)

results

/home/esp/python csv/Samat/rats27.07/vrats27.07/lib/python3.11/site-packages/scipy/stats/_morestats.py:1879: UserWarning: Input data for shapiro has range zero. The results may not be accurate.
  warnings.warn("Input data for shapiro has range zero. The results "

        OTU  p_value  p_value_corrected  reject_null
375  OTU378  0.00002           0.027175         True

In [15]:
from scipy.stats import mannwhitneyu, kruskal
from statsmodels.sandbox.stats.multicomp import multipletests

# Данные
data_cmc = box_rel_cmc[box_rel_cmc['Group'] == 'CMC'].iloc[:, 1:]
data_cn = box_rel_cmc[box_rel_cmc['Group'] == 'CN'].iloc[:, 1:]

p_values = []
# Проводим тест Манна-Уитни или Крускала-Уоллиса для каждого OTU
for otu in data_cmc.columns:
    # Если две группы
    if len(data_cmc[otu].dropna().unique()) == 2 and len(data_cn[otu].dropna().unique()) == 2:
        _, p_value = mannwhitneyu(data_cmc[otu].dropna(), data_cn[otu].dropna())
    # Если три и более групп
    else:
        _, p_value = kruskal(data_cmc[otu].dropna(), data_cn[otu].dropna())
    p_values.append(p_value)

# Коррекция Бенджамини-Хохберга
reject, pvals_corrected, _, _ = multipletests(p_values, method='bonferroni')

# DataFrame с результатами
results = pd.DataFrame({'OTU': data_cmc.columns, 'p_value': p_values, 'p_value_corrected': pvals_corrected, 'reject_null': reject})
results.drop(results[results['reject_null'] == False].index, inplace=True)
results

Empty DataFrame
Columns: [OTU, p_value, p_value_corrected, reject_null]
Index: []